#topic_table{
	border: 1px solid #990099;
	background-color:#faf1fa;
	padding: 10px 20px 10px 20px;
	position: relative;
	left: 250px;
	top:60px;
	
	
}
#topic_table caption{
	border:1px solid #990099;
	background-color:#990099;
	border-radius:8px 8px 0px 0px;
	color:#ffff;
	text-align:left;
	font-weight: bold;
	font-size: 24px;
	
}
#topic_table th{
	border: 1px solid #990099;
	border-radius:8px 8px 0px 0px;
	background-color:#990099;
	color:#ffff;
	width: 100px;
	margin:20px;
	font-size: 24px;
}
#topic_table td{
	border: 1px solid #990099;
	width: 100px;
	margin:20px;
	font-weight: bold;
	font-size: 24px;
}