#topic_box{
	border: 1px solid #990099;
	margin: 30px auto 50px auto;
	width: 90%;
}

#topic_box caption{
	text-align: left;
	background-color: #990099;
	color:white;
	font-weight: bold;
	font-size: 22px;
	padding: 5px 12px;
}

#topic_box th{
	border: 1px solid #990099;
	color: #990099;
	height: 40px;
}

#topic_box td{
	border: 1px solid #990099;
	color: #990099;
	padding-left: 8px;
	font-size: 20px;
	color: #555;
	font-weight: bold;
}

#no_rec{
	/* height: 120px; */
	text-align: center;
}