.cpyrt_size{
    font-size: 15px;
}

footer{
    padding: 50px 0 0;

}
.sci{
    margin:  0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci li{
    list-style: none;
    margin: 0 20px;
}

.sci li a{
    color: rgb(255, 255, 255);
    font-size: 2em;
    transition: 0.5s;
}

.sci li a:hover{
    color: rgb(0, 140, 255);
}
.cpryt{
    text-align: center;
    margin-top: 20px;
    color: #660c0cb6;
}
.cpryt a,
.cpryt a:hover{
    color:rgb(255, 0, 0);

}